@page
@model login.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo">
        Welcome to Baka Authentication
        <small class="text-muted">(version @Model.Version)</small>
    </h1>
</div>
