@inject IConfiguration _configuration

@{
    string applicationVersion = _configuration["ApplicationVersion"];
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="navbar-brand">
            <img src="~/duende-logo.svg" class="icon-banner">
            
            <span>Baka Authentication<span>
            
            <span>@applicationVersion</span>
        </div>
    
    </nav>
</div>
